//- this file code by Tejas
//- html to pug convert by parag
//- How-to-vote page
extends layout.pug
block style
    link(rel="stylesheet", href="/stylesheets/how-to-vote.css")
block page 
    main.MAIN 
        h2.purple 
           | How to vote?
        .container 
            h3.purple.info.item1 Step 1 : Enter your id and password which is provided to you mail on your registered mail ID 
            .purple.contant.item2 
                img(src="/images/Step-1.png", alt="Step1", srcset="/images/Step-1.png")
            .purple.contant.item3 
                img(src="/images/Step-2.png", alt="Step1", srcset="/images/Step-2.png")
            h3.purple.info.item4 Step 2 : Select your candidate and click on the vote button.
            h3.purple.info.item5 Step 3 : After completion of voting this window will appear. This is an
                | indication
                |that you have voted successfully
            .purple.contant.item6
                img(src="/images/Step-3.png", alt="Step1", srcset="/images/Step-3.png")
    button(onclick="next()") Proceed
block script
    script(src="javascripts/Home.js") 


