//- this file code by Anurudh and Tejas
//- html to pug convert by parag
//- HOME page
extends layout.pug
block style 
    link(rel="stylesheet", href="stylesheets/index.css")
block page
    .center 
        div 
            h1 Right-to-vote 
            form#from
                .txt_field 
                    input#email(type="text" required )
                    span 
                    label(for="email") Enter id 
                .txt_field 
                    input#password(type="password" required)
                    span 
                    label(for="password") password
                input(type="submit" value="Proceed")
             
block script
    script(src="javascripts/api.js") 
    