.MAIN {
  padding-top: 20px;
  flex-flow: column;
  justify-content: center;
}

header {
  color: aliceblue;
  background-color: var(--color);
  width: 100%;
}
h2 {
  text-align: center;
}

.purple {
  color: var(--color);
}

.container {
  text-align: center;
  margin: 50px;
  display: grid;
  /* grid-gap: 51px; */
  grid-template-columns: 600px 300px 300px ;
  grid-template-rows: 400px 400px 400px;
  align-content: center;
  justify-content: center;
}

img {
  /* border: 2px solid var(--color); */
  width: auto;
  height: 100%;
}
.item1{
  grid-column-start: 1;
  grid-column-end: 2;
}
.item2{
  grid-column-end: 4;

}
.item3{
  
  grid-row-start: 2;
  grid-column-end: 2;
}
.item4{
  grid-column-end: 4;
  grid-column-start: 2;
}
.item5{
  grid-row-end: 4;
  grid-column-start: 1;
}
.item6{
grid-row-start: 3;
grid-column-end: 4;
}
.contant {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info {
  display: flex;
  align-items: center;
  pointer-events: none;
  text-align: center;
  -webkit-user-select: none;
  moz-user-select: none;
}
