/* this file code by  Tejas and parag */

@media only screen and (max-width: 1450px) {
}

@media only screen and (max-width: 1199px) {
  .container {
    display: flex !important;
    flex-flow: column;
    align-items: center;
  }
  img {
    width: 100% !important;
  }
  .info {
    margin: 20px 0;
  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 991px) {
}

@media only screen and (min-width: 767px) {
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 575px) {
}

@media only screen and (max-width: 480px) {
}
