header {
  color: aliceblue;
  background-color: var(--color);
}
h1 {
  margin-left: 8px;
}

h2 {
  text-align: center;
}

.container {
  text-align: center;
  display: grid;
  /*
  grid-template-columns: 300px 300px;; */
  grid-template-rows: 100px;
}

.purple {
  color: var(--color);
}
/* <h1 class="oo"> hjg</h2> 
//style
.oo{
  color:var(--color)
}
*/

.MAIN {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
