* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  margin-left: 8px;
}

h2 {
  text-align: center;
}
.container {
  text-align: center;
  display: grid;
  /*
  grid-template-columns: 300px 300px;
  grid-template-rows: 100px; */
}
#purple {
  color: #5f59f7;
}
.MAIN {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
