/* this file code by Tejas */

h2 {
  text-align: center;
}
header {
  color: aliceblue;
  background-color: #5f59f7;
}
body {
  overflow: hidden;
}
.MAIN {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

svg {
  height: 150px;
  width: 150px;
  position: relative;
  animation-name: swip;
  animation-duration: 2s;
  animation-delay: 0s;
}

@keyframes swip {
  50% {
    left: 200px;
    top: 0px;
  }

  100% {
    left: 0px;
    top: 0px;
  }
}
button {
  margin: 10px 0;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  height: 23px;
  width: 171px;
}
